* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    min-height: 100vh;
}

/*navigation bar*/

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-flow: column-wrap;
    height: 90px;
    flex-direction: row;
    align-items: center;
    height: 90px;
}

header .nav_events {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;   
}

header ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + main {
    padding-top: 102px;
  }


/* For screen size greater than 740px*/
@media screen and (min-width: 740px) {

/*main content*/

    main {
        height: auto;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;
    }

    .container-image {
        width: 90%;
        margin: 4% 5% 0% 5%;
    }

    .container-image img {
        width: 100%;
        height: auto;
    }

    #text-wrapper {
        width: 100%;
        position: relative;
        margin-top: -10%;
    }

    #text-wrapper h1 {
        text-align: center;
        color: rgb(58, 185, 122);
        font-size: 4vw;
        padding-bottom: 1.3em;
    }

    h1 {
        color: white;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    h3 {
        padding-left: 50px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-top: 60px;
        text-align: justify;
    }

/* proof of vaccination ordered list */
    #ol1 {
        margin: 0in 0in 0.0001pt 1.0in;
        padding-top: 1em;
        padding-bottom: 1em;
    }

 /*   the line break didn't look as appealing as I thought it would be
    hr {
        border-top: 3.5px solid rgb(167, 161, 161);
        width: 1300px;
        margin-left: 40px;
        margin-right: 40px;
    }
*/

    h4 {
        padding-left: 50px;
        padding-bottom: 1em;
        color: crimson;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    p {
        padding-left: 50px;
        padding-bottom: .5em;
        
    }
    .padding-bottom {
        padding-bottom: 2.2em;
    }

    .collapsible {
        background-color: gray;
        color: black;
        cursor: pointer;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        font-weight: bold;
        padding-left: 10px;
        padding-top: 1em;
        padding-bottom: 2em;
    }

    .active, .collapsible:hover {
        background-color: #555;
      }

    .collapsible:after {
        content:'\002B';
        color: black;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
      }

    .resources {
        padding-left: 5px;
        padding-top: 1em;
        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
    }

/* footer*/

footer {
    font-family: sans-serif;
    background-color:red;
    color: white;
}
   .footer-nav{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-wrap: wrap;
   }

   footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

   footer a {
    font-size: 1.1rem;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
   }

   footer a:hover {
    color: #000000;
    text-decoration: underline;
}

   @media screen and (min-width: 740px) {

    .footer-nav{
        justify-content: space-around;
        padding-top: 1.3rem;
    }

    .copyright {
        display: flex;
        justify-content: center;
    }
    
    .fa {
        font-size: 20px;
        
    }
} }

/* display nav menu horizontally on large screens and vertically on small screens */

@media screen and (max-width: 600px) {
    header {
      float: none;
      width: 100%;
    }
  }
