@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');







* {

    margin: 0;

    padding: 10;;

}

html{

    box-sizing: border-box;
    
}

body {
    background-color: 	#F5F5F5;
    font-family: 'Bebas Neue', cursive; 
    
    
}
header { 
   
    background-color: #FF0000;
   
    
}
main {

width: 1024px;
height: 500px;

text-align: center;
}

nav {

    font-size: 1.2rem;

    display: flex;

   

    gap: 1rem;
    

}



nav ul , footer ul {

    list-style-type: none;

    display: flex;

    flex-direction: column;

    gap: 1.1rem;

}



nav a {

    font-size: 1.6rem;

    font-family: 'Bebas Neue', cursive;

    text-decoration: none;

    color: #ffffff;

}



nav a:hover , footer a:hover, .active {

    color: #000000;

    text-decoration: underline;

}


@media screen and (min-width: 740px) {

    nav {

        height: 8vh;

        padding: 10px 70px 10px 70px;

        flex-direction: row;

        align-items: center;

        justify-content: space-between;

    }



    nav ul {

        flex-direction: row;
        
       
    }
    nav li {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

}





footer {

    font-family: 'Bebas Neue', cursive;

    background-color: #FF0000;

    color: #ffffff;



}

 



.container-footer {

    display: flex;

    justify-content: center;

    align-items: center;

    flex-wrap: wrap;

    gap: 1rem;

}



footer a {

    font-size: 1.1rem;

    font-family: 'Bebas Neue', cursive;

    text-decoration: none;

    color: #ffffff;

}



@media screen and (min-width: 740px) {



    .container-footer {

        justify-content: space-around;

        padding-top: 1.3rem;



    }



    footer ul {

        gap: 0.3rem;

    }

}





.copyright {

    display: flex;

    justify-content: center;

}



.fab {

    font-size: 20px;

    padding-right: 10px;

}

