body {
  font-family: Lato, sans-serif;
  background-image: url('../toronto.jpg');


}

* {
  margin: 0%;
  padding: 0%;
}

#img img {
  position: absolute;
  width: 50px;
  margin-left: 0px;
}




header {
  background-color: #FF0000;
  width: 100%;
  height: 50px;
  position: relative;

}


header h2 {
  position: absolute;
  left: 8%;
  margin: 10px;
  color: white;
}

.nav {
  position: absolute;
  width: 100%;
}

.nav a:hover {
  color: black;
}

.nav a {
  position: relative;
  top: 15px;
  left: 65%;
  text-decoration: none;
  color: white;
  margin-right: 10px;

}

footer {
  background-color: #FF0000;
  width: 100%;
  height: 170px;
  position: absolute;
  bottom: 0%;

}

footer h2 {
  text-align: center;
  color: white;

}





footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

footer a:hover,
.active {
  color: black;
}



footer {
  font-family: sans-serif;
  background-color: #FF0000;
  color: white;

}


.container-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding-top: 1.4rem;

}



footer a {
  font-size: 1.1rem;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
}



footer ul {
  gap: 0.4rem;
}



.copyright {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 20px;
  padding-right: 10px;
}

body {

  margin: 0px;
  font-family: sans-serif;
  background-size: 100% 110%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

.container-footer h2 {
  display: block;

}

.container {
  width: 80%;
  background-image: url("toronto.jpg");
  opacity: 0.9;

  background-color: red;

  border: 1px solid black;











}

.container h1 {
  color: black;
  font-family: sans-serif;
  font-weight: 200;
  text-align: center;
  padding: 20px;
  background-color: white;



}

.owner {

  text-align: center;
  color: white;
  font-family: sans-serif;
}

.cvv {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.card-number {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.selection {
  text-align: center;
  color: white;
  font-family: sans-serif;
}

.confirm {
  text-align: center;
  padding: 10px;

}

.button1 {
  background-color: black;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}

.button {
  text-align: center;
  padding: 10px;
}

.first-row {

  margin: 10px 10%;
}



.third-row {
  text-align: center;
  color: white;
}




.input-field {
  width: 100%;
}


.image img {
  width: 40%;
  height: auto;

}

.image {
  margin-left: 100px;

}






@media screen and (min-width: 740px) {


  footer {
    font-family: sans-serif;
    background-color: red;
    color: white;



  }


  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }



  footer a {
    font-size: 1.1rem;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
  }

  .container-footer {
    justify-content: space-around;
    padding-top: 1.3rem;

  }

  footer ul {
    gap: 0.3rem;
  }

  .container {
    margin: 10px 10%;
  }









}




@media screen and (max-width: 600px) {


  footer {
    font-family: sans-serif;
    background-color: red;
    color: white;


  }




  .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }



  footer a {
    font-size: 1.1rem;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
  }

  .container-footer {
    justify-content: space-around;
    padding-top: 1.3rem;

  }

  footer ul {
    gap: 0.3rem;
  }

  .container-footer h2 {
    display: none;

  }

  .container {
    margin: 10px 10%;
  }


}