@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

main {
    text-align: center;
    height: 70vh
}

/*navigation bar*/

header {
    background-color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;  
    display: flex;
    justify-content: space-between;
    flex-flow: column-wrap;
    height: 90px;
    flex-direction: row;
    align-items: center;
}

header .nav_events {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.6rem;  
    margin-left: 40px;  
}

header ul {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem; 
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    align-items: center;
    margin-right: 40px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}



    /* For screen size greater than 740px*/
@media screen and (min-width: 740px) {
    nav {
        height: 8vh;
        padding: 10px 70px 10px 70px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }
}

/* footer style */
footer {
    font-family: 'Bebas Neue', cursive;
    background-color:red;
    color: white;
    font-size: 1.6rem; 
}

.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
   }

@media screen and (min-width: 740px) {

    .footer-nav{
        justify-content: space-around;
        padding-top: 1.3rem;
    }

    footer ul {
        gap: 0.3rem;
    }
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    padding: 10px 70px 10px 70px;
}

   footer a:hover {
    color: #000000;
    text-decoration: underline;
}

@media screen and (min-width: 740px) {

.footer-nav{
    justify-content: space-around;
    padding-top: 1.3rem;
}
}

.copyright {
    display: flex;
    justify-content: center;
}

.fa {
    font-size: 20px;
}
