* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    max-height: auto;
    margin: auto;
}

h3 {
    font-size: larger;
    font-family:
}
img {
    float: left;
    padding-left: 80px;
    padding-right: 20px;
}

h1 {
    padding-top: 50px;
    font-size: 40px;
    color: rgb(68, 65, 65);
}

 #options {
    font-weight: bold;
    font-family: sans-serif;
    color: maroon;
}

#options1 {
    font-weight: bold;
    font-family: sans-serif;
    color: maroon;  
}

/*navigation bar*/

header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    flex-flow: column-wrap;
    height: 90px;
    flex-direction: row;
    align-items: center;
}

header .nav_events {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;  
    margin-left: 40px;  
}

header ul {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    align-items: center;
    margin-right: 40px;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    text-decoration: none;
    color: white;
}

header a:hover {
    color: #000000;
    text-decoration: underline;
}

/* For screen size greater than 740px*/
@media screen and (min-width: 740px) {
    nav {
        height: 8vh;
        padding: 10px 70px 10px 70px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }
}


/* For screen size greater than 740px*/
@media screen and (min-width: 740px) {

    #aside1 {
        float: right;
        padding-right: 6em;
        padding-top: 4em;
    }

    #aside2 {
        float: right;
        padding-right: 6em;
    }

    #pre, #nex {
        font-family: fantasy;   
        
    }
    #buttons {
        padding-left: 16em;
    }

main {
        height: auto;
        padding-top: 80px;
        padding-bottom: 100px;
        padding-left: 70px;
    }

#list, #list2 {
        padding-left: 50px;
        list-style-type: none;
        font-size: 1.1rem;
        line-height: 1.5;

    }

li a {
    position: relative;
    text-decoration: none;
}   

li a:hover {
    color: #000000;
    text-decoration: underline;
}

.img2 {
    float: left;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 20px;
}

.h1_eat {
    padding-top: 80px;
    font-size: 40px;
}

.h3_eat {
    padding-top: 80px;
    
}

.list2 {
    padding-top: 10px;
    padding-left: 50px;
    list-style-type: none;
    font-size: 1.1rem;
    line-height: 1.5;     
}


/* footer*/

footer {
    font-family: sans-serif;
    background-color:red;
    color: white;
}

.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

footer a {
    font-size: 1.1rem;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
   }

   footer a:hover {
    color: #000000;
    text-decoration: underline;
}

@media screen and (min-width: 740px) {

.footer-nav{
    justify-content: space-around;
    padding-top: 1.3rem;
}
}

.copyright {
    display: flex;
    justify-content: center;
    color: white;
}

.fa {
    font-size: 20px;
}
}
